# Android/Gradle
*.iml
.gradle/
local.properties
/.idea/
/.idea/caches/
/.idea/libraries/
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml

# macOS / Windows system files
.DS_Store
Thumbs.db

# Build output
/build/
captures/
.externalNativeBuild/
.cxx/

# Logs
*.log
